<div>
	<div class="horizontal_center">
		<img class="item_photo" src="{{item.flag}}" />
	</div>

	<h3>{{item.name}}</h3>
	<h5>{{item.region}} / {{item.subregion}}</h5>

	<h3>Name: {{ item.name}}</h3>
	<h3>Top LevelDomain: {{item.topLevelDomain}}</h3>
	<h3>Region: {{item.region}}</h3>
	<h3>Subregion: {{item.subregion}}</h3>
</div>
<table>
	<tr>
		<td>name</td>
		<td>{{ item.name}}</td>
	</tr>
	<tr>
		<td>topLevelDomain</td>
		<td>{{ item.topLevelDomain}}</td>
	</tr>
	<tr>
		<td>alpha2Code</td>
		<td>{{ item.alpha2Code}}</td>
	</tr>
	<tr>
		<td>alpha3Code</td>
		<td>{{ item.alpha3Code}}</td>
	</tr>
	<tr>
		<td>callingCodes</td>
		<td>{{ item.callingCodes}}</td>
	</tr>
	<tr>
		<td>capital</td>
		<td>{{ item.capital}}</td>
	</tr>
	<tr>
		<td>altSpellings</td>
		<td>{{ item.altSpellings}}</td>
	</tr>
	<tr>
		<td>region</td>
		<td>{{ item.region}}</td>
	</tr>
	<tr>
		<td>subregion</td>
		<td>{{ item.subregion}}</td>
	</tr>
	<tr>
		<td>population</td>
		<td>{{ item.population}}</td>
	</tr>
	<tr>
		<td>latlng</td>
		<td>{{ item.latlng}}</td>
	</tr>
	<tr>
		<td>demonym</td>
		<td>{{ item.demonym}}</td>
	</tr>
	<tr>
		<td>area</td>
		<td>{{ item.area}}</td>
	</tr>
	<tr>
		<td>gini</td>
		<td>{{ item.gini}}</td>
	</tr>
	<tr>
		<td>timezones</td>
		<td>{{ item.timezones}}</td>
	</tr>
	<tr>
		<td>borders</td>
		<td>{{ item.borders}}</td>
	</tr>
	<tr>
		<td>nativeName</td>
		<td>{{ item.nativeName}}</td>
	</tr>
	<tr>
		<td>numericCode</td>
		<td>{{ item.numericCode}}</td>
	</tr>
	<tr>
		<td>currencies</td>
		<td>{{ item.currencies}}</td>
	</tr>
	<tr>
		<td>languages</td>
		<td>{{ item.languages}}</td>
	</tr>
	<tr>
		<td>translations</td>
		<td>{{ item.translations}}</td>
	</tr>
	<tr>
		<td>flag</td>
		<td>{{ item.flag}}</td>
	</tr>
	<tr>
		<td>regionalBlocs</td>
		<td>{{ item.regionalBlocs}}</td>
	</tr>
	<tr>
		<td>cioc</td>
		<td>{{ item.cioc}}</td>
	</tr>
</table>
